
/*FORMS*/


.bodylog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow-y: hidden;
}

.sectionlog {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
    overflow: hidden;
}

    .sectionlog .signin {
        position: absolute;
        width: 400px;
        background: #222;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        border-radius: 30px;
    }

        .sectionlog .signin .content {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 40px;
        }

            .sectionlog .signin .content h2 {
                font-size: 2.5rem;
                color: goldenrod;
                text-transform: uppercase;
                font-family: sans-serif;
            }

            .sectionlog .signin .content .form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 25px;
            }

                .sectionlog .signin .content .form .inputBox {
                    position: relative;
                    width: 100%;
                }

                    .sectionlog .signin .content .form .inputBox input {
                        position: relative;
                        width: 100%;
                        background: #333;
                        border: none;
                        outline: none;
                        padding: 25px 10px 7.5px;
                        border-radius: 4px;
                        color: #fff;
                        font-weight: 500;
                        font-size: 1.4rem;
                    }


                    .sectionlog .signin .content .form .inputBox i {
                        position: absolute;
                        left: 0;
                        padding: 15px 10px;
                        font-style: normal;
                        color: #aaa;
                        transition: 0.5s;
                        pointer-events: none;
                        font-size: 1.2rem;
                    }

.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
    transform: translateY(-7.5px);
    font-size: 1.3rem;
    color: #fff;
}

.signin .content .form .links {
    position: relative;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    justify-content: right;
}

    .signin .content .form .links a {
        color: goldenrod;
        text-decoration: none;
        font-size: 2rem;
    }

        .signin .content .form .links a:nth-child(2) {
            color: goldenrod;
            font-weight: 600;
        }

.signin .content .form .inputBox input[type="submit"] {
    padding: 10px;
    background: goldenrod;
    color: #000;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.5;
}
