@model Gamezone.Models.Game_stores

@{
    ViewBag.Title = "StoreDetails";
}

<section class="text-center">
    <h1 class="h1_page">@Model.store_name </h1>
</section>
<div class="mybox">
    <!-- Streamer Profile Section -->
    <div class="t_img_row">
        <div>
            <!-- Streamer Description -->
            <p>@Model.store_description</p>
        </div>
        <div>
            <!-- Streamer Image -->
            <img src="@Model.Store_logo" alt="STORE Image" width="500px">
        </div>

    </div>





    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
