.games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    padding: 20px 10%;
}

    .games .t_vid {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .games .t_img_row {
        display: flex;
        gap: 50px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .games .t_img_col {
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
    }
