@model List<Gamezone.Models.Game_titles>

@{
    ViewBag.Title = "ExploreGames";
}

<h1 class="h1_page">ExploreGames</h1>
<link href="~/Content/Explores.css" rel="stylesheet" />
<div class="row gy-5">
    @foreach (var game in Model)
    {
        <div class="py-3 col-md-8">
            <div style="margin: 20px;">
                <p>@game.description</p>
            </div>
        </div>
        <div class="py-3 col-md-4">
            <div style="padding:10px 0px;">
                <a href="@Url.Action("GameDetails", "Game_titles", new { id = game.game_id })">
                    <img class="mycard" src="@game.game_thumbnails" style="width:100%;" alt="game Thumbnail" title="Click to Visit Streamer Page!" />
                </a>
                <h4 class="py-3 text-center" style="color:goldenrod; font-size:40px;">@game.game_name</h4>
            </div>
        </div>
    }
</div>