@model List<Gamezone.Models.Game_engines>

@{
    ViewBag.Title = "ExploreEngines";
}

<h1 class="h1_page">ExploreEngines</h1>
<link href="~/Content/Explores.css" rel="stylesheet" />
<div class="row gy-5">
    @foreach (var engine in Model)
    {
        <div class="py-3 col-md-8">
            <div style="margin: 20px;">
                <p>@engine.game_engine_description</p>
            </div>
        </div>
        <div class="py-3 col-md-4">
            <div style="padding:10px 0px;">
                <a href="@Url.Action("EngineDetails", "Game_engines", new { id = engine.game_engine_id })">
                    <img class="mycard" src="@engine.engine_logo" style="width:100%;" alt="game Thumbnail" title="Click to Visit Streamer Page!" />
                </a>
                <h4 class="py-3 text-center" style="color:goldenrod; font-size:40px;">@engine.game_engine_name</h4>
            </div>
        </div>
    }
</div>