@model IEnumerable<Gamezone.Models.Team>

@{
    ViewBag.Title = "GuestTEIndex";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.team_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.team_name)
            </td>
            <td>
                @Html.ActionLink("GuestTEDetails", "GuestTEDetails", new { id = item.team_id }) 
            </td>
        </tr>
    }

</table>
