@model Gamezone.Models.Team

@{
    ViewBag.Title = "GuestTEDetails";
}

<h2>GuestTEDetails</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.team_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team_name)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "GuestTEIndex")
</p>
